@import "vars";
@import "global";
@import "fonts";


.header {
  &__top {
    background-color: #eef1f3;

    &-inner {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
    }
  }

  &__logo {
    padding-left: 7px;
  }

  &__btn {
    margin-left: auto;
    margin-right: 45px;
    padding: 4px 22px 4px 18px;
    background-color: #0674ec;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -5px;

    &:hover {
      box-shadow: 0px 4px 10px -3px #000;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0px 4px 10px -3px #000;
    }

  }

  &__icons {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  &__icon {
    color: #7e8fa1;
    position: relative;
    margin-right: 35px;
    padding-top: 4px;
    width: 18px;
    height: 36px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      color: $blue;
    }

    &-number {
      font-family: "Quicksand-Medium", sans-serif;
      position: absolute;
      top: -9px;
      right: -18px;
      height: 22px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 12px;
      padding: 3px 7px;

      &--red {
        background-color: #ff6a6c;
      }

      &--green {
        background-color: #62d03b;
      }

      &--blue {
        background-color: #0674ec;
      }
    }
  }

  &__account {
    display: flex;

    &-img {
      border-radius: 50%;
      height: 50px;
      width: 53px;
      margin-right: 20px;
      margin-left: 12px;
      margin-top: -4px;
    }
  }

  &__info {

    &-name {
      font-family: "Quicksand-Medium", sans-serif;
      display: block;
      color: #333333;
      font-size: 16px;
      line-height: 20px;
      transition: all 0.5s;

      &:hover {
        color: $blue;
      }
    }

    &-money {
      color: $blue;
      font-size: 15px;
      font-family: "Quicksand-Regular", sans-serif;
      transition: all 0.5s;

      &:hover {
        border-bottom: 1px solid #7347c1;
      }

    }
  }

  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__nav {

    &-list {
      font-family: "Quicksand-Medium", sans-serif;
      display: flex;
      font-size: 15px;
      line-height: 42px;
      text-transform: uppercase;
      color: #333333;
    }

    &-item {
      margin-right: 31px;
      margin-top: -6px;
    }

    &-link {
      transition: all 0.5s;

      &:focus,
      &:hover {
        color: $blue;
      }
    }
  }

  &__form {
    position: relative;

    &-search {
      padding: 13px 96px 16px 22px;
      height: 46px;
      min-width: 360px;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
      outline: transparent;
      margin-bottom: 7px;

      &:focus {
        border: 1px solid $blue;
      }
    }

    &-btn {
      outline: none;
      position: absolute;
      right: 0;
      top: 1px;
      width: 70px;
      height: 46px;
      border-radius: 23px;
      background-color: #0674ec;
      border: none;
      color: #fff;
      cursor: pointer;

      &::before {
        content: url(../images/search.png);
      }
    }
  }
}

.find {
  position: relative;
  background: linear-gradient(180deg,
      rgb(0, 48, 222) 0%,
      #1745ed 54%,
      rgb(46, 90, 251) 100%);
  opacity: 0.8;
  height: 726px;

  &__inner {
    text-align: center;
  }

  &__title {
    font-size: 60px;
    color: #f3f3f8;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.167;
    white-space: pre-line;
    margin-top: -2px;
    padding-top: 100px;

    &-down {
      font-size: 60px;
      font-family: "Quicksand-Bold", sans-serif;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &__text {
    font-family: "Quicksand-Medium", sans-serif;
    font-size: 20px;
    color: #f3f3f8;
    margin-top: 8px;
    line-height: 3.6;
    margin-bottom: 41px;
  }

  &__btn {
    display: inline-block;
    padding: 18px 32px;
    background: inherit;
    border: 1px solid #fff;
    border-radius: 31px;
    color: #fff;
    transition: all 0.5s;
    margin-right: 10px;
    margin-left: 13px;
    outline: none;
    cursor: pointer;
    margin-bottom: 166px;

    &--active,
    &:hover,
    &:focus {
      background: white;
      color: #0674ec;
    }
  }

  &__search {
    outline: transparent;
    position: absolute;
    bottom: -65px;
    right: 0;
    left: 0;
  }

  &__form {
    display: flex;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 40px;

    &::after {
      content: "";
      position: absolute;
      top: -26px;
      right: 30px;
      height: 50px;
      width: 94.8%;
      background-color: #fff;
      border-radius: 6px;
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      top: -13px;
      right: 15px;
      height: 20px;
      width: 97.4%;
      background-color: #fff;
      border-radius: 6px;
      opacity: 0.5;
    }

    &-search {
      outline: none;
      height: 55px;
      min-width: 612px;
      padding: 27px 29px;
      border-radius: 4px 0 0 4px;
      border: 1px solid #dcdcdc;
      border-right: none;

      &:focus {
        border: 1px solid $blue;
      }
    }

    &-select {
      outline: none;
      height: 56px;
      padding: 8px 67px 10px 17px;
      border-radius: 0 4px 4px 0;
      border: 1px solid #dcdcdc;
      -webkit-appearance: none;
      background-image: url(../images/arrow-down.png);
      background-repeat: no-repeat;
      background-position: center right 20px;

      &:focus {
        border: 1px solid $blue;
      }
    }

    &-btn {
      outline: none;
      color: #fff;
      width: 223px;
      height: 55px;
      margin-left: 30px;
      border: none;
      border-radius: 4px;
      background-color: #0674ec;

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.advantages {
  padding-top: 186px;
  padding-bottom: 136px;

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    max-width: 361px;
    padding: 41px 30px 49px;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1);
    }
  }

  &__img {
    width: 113px;
    height: 143px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 96px;
    margin-top: -14px;
  }

  &__title {
    color: #000000;
    font-size: 24px;
    padding-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.875;
  }
}

.product {
  padding: 98px 0;
  background-color: #eef1f3;
  position: relative;

  &__top {

    &-title {
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
      margin-bottom: 50px;
    }
  }

  &__slider {
    border-radius: 4px;
  }

  &__img {
    width: 555px;
    height: 450px;
  }

  &__slider {

    &-img {
      position: relative;
      border-radius: 4px 0 0 4px;
      width: 100%;
    }

    &-item {
      display: flex !important;
      width: 100%;
    }
  }

  &__hover {
    opacity: 0;
    background-image: url(../images/bg-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0px;
    padding-top: 203px;
    vertical-align: middle;
    text-align: center;
    width: 555px;
    height: 450px;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    &-btn {
      outline: none;
      color: #f3f3f8;
      border-radius: 28px;
      border: 1px solid #f3f3f8;
      transition: all 0.3s;
      background-color: inherit;
      padding: 10px 31px;
      margin: 0px 5px;
      font-family: "Quicksand-Medium", sans-serif;

      &--active {
        color: #0674ec;
        background-color: #fff;
      }

      &:hover,
      &:focus {
        color: #0674ec;
        background-color: #fff;
      }
    }
  }

  &__info {
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
    padding: 49px 50px 0px;

    &-title {
      color: #000000;
      font-size: 24px;
      margin-bottom: 15px;
      font-family: "Quicksand-Medium", sans-serif;
      margin-bottom: 18px;
    }
  }

  &__link {
    display: flex;
    margin-bottom: 24px;
  }

  &__user {
    display: flex;
    margin-right: 20px;
    color: #000;
    font-size: 15px;

    &-img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__program {
    display: flex;

    &-img {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-top: 6px;
      margin-right: 7px;
    }

    &-name {
      color: #7347c1;

    }
  }

  &__text {
    margin-bottom: 34px;
    line-height: 1.875;
  }

  &__tags {
    margin-bottom: 44px;
  }

  &__tag {
    padding: 5px 14px;
    margin-left: 5px;
    line-height: 28px;
    color: #868c96;
    font-size: 15px;
    border-radius: 14px;
    background-color: #f1f3f6;
    transition: all 0.5s;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid #ececec;
    font-size: 15px;

    &-value {
      outline: none;
      border-radius: 16px;
      background-color: #0674ec;
      padding: 4px 20px;
      margin-right: 20px;
      color: #fff;
      font-weight: 500;
      transition: all 0.5s;


      &:active {
        transform: translateY(2px);
      }
    }

    &-heart {
      outline: none;
      margin-right: 18px;
    }

    &-basket {
      outline: none;
      color: $blue;
      margin-right: 165px;
    }
  }
}

.produce {
  color: #f6f7fb;
  padding-top: 144px;
  padding-bottom: 239px;
  background-color: #f6f7fb;

  &__top {
    margin-bottom: 31px;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__filtering {
    padding-top: 41px;
    font-size: 16px;
    color: #747b86;
    margin-left: auto;

    &-dots {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 10px;
      height: 20px;
      margin: auto 25px;
      cursor: pointer;
    }

    &-wrap {
      display: none;
      position: absolute;
      top: 42px;
      right: -16px;
      padding: 27px 28px;
      min-width: 183px;
      background-color: #fff;
      color: #747b86;
      font-size: 15px;
      box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
      border-radius: 3px;
      line-height: 25px;

      &::after {
        content: "";
        position: absolute;
        top: -25px;
        right: 11px;
        border: 12px solid transparent;
        border-bottom: 19px solid #fff;
      }
    }

    &-btn {
      font-size: 15px;
      background-color: #fff;
      border: none;
      color: #747b86;
      outline: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $blue;
      }
    }
  }

  &__inner {
    height: 92px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);

    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__btn {
    text-align: center;
    display: contents;

    &-top {
      outline: none;
      border: none;
      background-color: rgb(241, 243, 246);
      font-size: 15px;
      color: rgb(116, 123, 134);
      line-height: 32px;
      cursor: pointer;
      padding: 0 21px;
      color: #868c96;
      font-size: 15px;
      border-radius: 14px;
      transition: all 0.5s;

      &+.produce__btn-top {
        margin-left: 2px;
      }

      &:hover,
      &:focus {
        font-weight: 500;
        background-color: $blue;
        color: #fff;
        border-radius: 20px;
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 361px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 32px;
  }

  &__img {
    position: relative;
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &__hover {
    opacity: 0;
    background-image: url(../images/produce-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    padding-top: 103px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    &-btn {
      color: #f3f3f8;
      border-radius: 28px;
      border: 1px solid #f3f3f8;
      transition: all 0.3s;
      background-color: inherit;
      padding: 11px 21px;
      margin: 0px 5px;
      font-family: "Quicksand-Medium", sans-serif;

      &--active {
        color: #0674ec;
        background-color: #fff;

      }

      &:hover,
      &:focus {
        color: #0674ec;
        background-color: #fff;
      }
    }
  }

  &__info {
    padding: 0;

    &-title {
      font-family: "Quicksand-Medium", sans-serif;
      font-size: 20px;
      color: #000;
      line-height: 7.2px;
      padding: 34px 30px 0px;
      margin-bottom: 24px;
    }

    &-link {
      padding: 0px 29px;
      margin-bottom: 24px;
      display: flex;
    }

  }

  &__user {
    display: flex;
    margin-right: 18px;

    &-img {
      margin-right: 6px;
    }

    &-name {
      font-size: 15px;
      font-weight: 500;
      color: #000;
      margin-top: 3px;
    }
  }

  &__program {
    display: flex;

    &-img {
      width: 14px;
      height: 16px;
      margin-right: 12px;
      margin-top: 7px;
    }

    &-name {
      font-size: 15px;
      color: #7347c1;
      line-height: 30px;
      margin-top: 1px;
    }
  }

  &__text {
    padding: 0px 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #555555;
    line-height: 30px;
  }


  &__footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    padding: 17px 28px;
    font-size: 15px;

    &-money {
      font-family: "Quicksand-Medium", sans-serif;
      margin-right: 17px;
      padding: 0 17px;
      color: #0674ec;
      background-color: #eef1f3;
      border-radius: 16px;
      transition: all 0.5s;


      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }

    &-heart {
      margin-right: 15px;
      color: #6f7d8d;
    }

    &-basket {
      margin-left: auto;
      color: $blue;
    }
  }

  &__bottom {
    margin-top: 28px;
    text-align: center;

    &-btn {
      border: none;
      outline: none;
      border-radius: 33px;
      background-color: #0674ec;
      padding: 18px 33px;
      margin-right: -1px;
      color: #fff;
      font-weight: 500;
      cursor: pointer;

      &:active {
        transform: translateY(2px);
      }
    }
  }
}








// .followers__slider-item {
//   width: 100%;
//   max-width: 361px;
//   border-radius: 4px;
//   margin-bottom: 32px;
//   border-radius: 4px;
//   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.2);



// }

// .followers__slider-img {
//   position: relative;
//   min-height: 230px;
//   background-repeat: no-repeat;
//   display: block;
//   background-position: center;
//   background-size: cover;
//   margin-top: 51px;
// }

// .followers__info {
//   padding: 0;
// }

// .followers__info-title {
//   font-family: "Quicksand-Medium", sans-serif;
//   font-size: 20px;
//   color: #000;
//   line-height: 7.2px;
//   padding: 34px 30px 0px;
//   margin-bottom: 24px;
// }


// .followers__info-link {
//   padding: 0px 29px;
//   margin-bottom: 24px;
//   display: flex;
// }

// .followers__link-user {
//   display: flex;
//   margin-right: 18px;
// }

// .followers__user-img {
//   margin-right: 6px;
// }

// .followers__user-name {
//   font-size: 15px;
//   font-weight: 500;
//   color: #000;
//   margin-top: 3px;
// }

// .followers__link-program {
//   display: flex;
// }

// .followers__program-img {
//   width: 14px;
//   height: 16px;
//   margin-right: 12px;
//   margin-top: 7px;
// }

// .followers__program-name {
//   font-size: 15px;
//   color: #7347c1;
//   line-height: 30px;
//   margin-top: 1px;
// }

// .followers__info-text {
//   padding: 0px 30px;
//   margin-bottom: 30px;
//   font-size: 16px;
//   color: #555555;
//   line-height: 30px;
// }

// .followers__footer {
//   display: flex;
//   align-items: center;
//   border-top: 1px solid #ececec;
//   padding: 17px 28px;
//   font-size: 15px;
// }

// .followers__footer-money {
//   font-family: "Quicksand-Medium", sans-serif;
//   margin-right: 17px;
//   padding: 0 17px;
//   color: #0674ec;
//   background-color: #eef1f3;
//   border-radius: 16px;
//   transition: all 0.5s;


//   &:hover {
//     color: #fff;
//     background-color: $blue;
//   }
// }


// .followers__footer-heart {
//   margin-right: 15px;
//   color: #6f7d8d;

// }

// .lnr-heart {
//   margin-right: 5px;
//   color: #885ac6;

//   &:active {
//     color: red;
//   }
// }


// .followers__footer-basket {
//   margin-left: auto;
//   color: $blue;
// }

// .lnr-cart {
//   padding-right: 6px
// }

// .slick-arrow {
//   position: absolute;
//   top: 133px;
//   height: 44px;
//   border: none;
//   background-color: #7347c1;
//   margin-right: 29px;
//   outline: none;
//   right: 111px;
// }


// .slick-next {
//   width: 55px;
//   border-radius: 0 23px 23px 0;
//   right: 2px;
//   top: -127px;
// }

// .slick-prev {
//   width: 55px;
//   right: 55px;
//   top: -127px;
//   border-radius: 23px 0 0 23px;
// }

// .slick-prev:active {
//   transform: translateY(1px);
// }

// .slick-next:active {
//   transform: translateY(1px);
// }